@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import "animate.css";

/* Style general */

html{
    background-color: rgba(206, 186, 160, 0.925);
}
  
h1{
    margin: 50px 0;
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h4{
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 80px;
}

/* Style pour les images  */

.catCard{
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    display: grid;
    gap: 20px;
}

img {
    width: 200px !important;
    height: 200px !important;
}

/* Style pour les boutons */
  
.button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-left: 750px;
    margin-right: 750px;
    gap: 20px; 
}
  
.button button {
    background-color: rgb(0, 0, 0);
    color: #ffff;
    font-size: 25px;
    font-weight: 800;
    padding: 10px;
}
  
.my_button li {
    display: inline-block;
    padding: 15px;
    margin: 50px 0;
    font-size: 15px;
    cursor: pointer;
}
  
ul {
    justify-content: center;
    display: flex;
}
  
.active{
    background-color: rgb(0, 0, 0);
    border-radius: 10%;
    color: #ffff;
}
  
  .button:hover {
    background-color: #3e8e41;
    color: white;
  }

 